#wap{
    width: 90%;
    margin: auto;
    
}

#bienvenidos{
    margin-top: 100%;
    text-align: center;
}

#contenedor-columnas{
    width: 100%;
    margin: auto;
}

#columnax3{
    width: 33.333%;
    float: left;
    
}