body{
    font-family: Tahoma, Arial;
     
}

nav{
    width: auto;
    margin: auto;
}

nav ul{
    list-style-type: none;
    
    padding: 5px;
    text-align: center;
}

nav li  {
    width: 150px; 
    padding: 5px;
    
   
}

nav a{ 

     border: 1px solid black; 
    background-color: beige;
    
    text-decoration: none;
    color: black;
    display: block; 
    
    padding: 5px;
}

nav a:hover
{
    
    background-color: orange;
}
@media screen and (max-width: 600px){
    
    nav{
        width: auto;
    }
    nav li{
        width: auto;
        display: block;
        margin: auto auto 5px auto;
    }
}