
/**selector por etiqueta**/

h1, h2, h3 {
  color: #8A8E27;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}


h4, h5 {
  color: #FFBD33;
    font-size: 30px;
  font-weight: normal;
  font-family: cursive, Helvetica, sans-serif;
}



/**selector de clase */
.error{font-size: 30px;}
.especial{font-weight: bold;}
#ppp{color:#327B7C;}



/**selector de id*/
#destacado { color: #7C3832; }


/**selector descentente*/
p span { color:  #D14354; }
