#todo {
    margin: auto;
   width: 960px;
    height: 630px;
    background-color: floralwhite;
    
}

#one {
    float: left;  
    width: 250px;
    height: 100px;
    background-color: burlywood;
    border: 3px solid chocolate; 
}


#two{
      float: left;  
    width: 430px;
    height: 500px;
}


#three {
     float: right;  
  
}


#encabezado {
    text-align: center;
}

#pie {
     clear: both;
   
}

img {
    float: left;
    margin-right: 10px;
     
}
