#todo {
    margin: auto;
   width: 960px;
    height: 960px;
}

#one {
    float: left;  
    width: 300px;
    height: 500px;
}


#two{
      float: left;  
    width: 300px;
    height: 500px;
}


#three {
     float: right;  
  
}


#encabezado {
    text-align: center;
}

#pie {
     clear: both;
   
}

